// Place all the styles related to the page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item{
width:100%;
height: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
